body {
    font-family: 'tahoma', 'Segoe UI', sans-serif;
}

span {
    font-size: 18px;
}

table tbody {
    text-align: center;
}

.scoreTable {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

.pageTitle {
    background: #2A0438;
    color: white;
    padding: 10px;
    font-size: 24px;
}

.score {
    font-size: 40px;
}

.candidate1 {
    background: red;
    color: white;
}

.candidate2 {
    background: black;
    color: white;
}

.win {
    background:#b0ffaa;
}

.lose {
    background:#ffdfdf;
}

.caption {
    font-size:12px;
}

a {
    font-size:12px;
}

.redSeparator {
    height:4px;
    background:red;
}

.blackSeparator {
    height:4px;
    background:black;
}