body {
    font-family: 'tahoma', 'Segoe UI', sans-serif;
    width: 100%;
}

span {
    font-size: 18px;
}

table {
    width: 90%
}

table tbody {
    text-align:center;
}

.pageTitle {
    background:#2A0438;
    color: white;
    padding: 10px;
}

.score {
    font-size: 50px;
}

.candidate1 {
    background: red;
    color: white;
}

.candidate2 {
    background: black;
    color: white;
}