body {
    font-family: 'tahoma', 'Segoe UI', sans-serif;
    width: 98%;
}

span {
    font-size: 18px;
}

table {
    width: 100%
}

table tbody {
    text-align:center;
}

.pageTitle {
    background:#2A0438;
    color: white;
    padding: 10px;
}

.score {
    font-size: 24px;
}